@import url('https://fonts.googleapis.com/css2?family=Krona+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:wght@400;600&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
    box-sizing: border-box;
    background-color: #000000;
    color: #F6F6F6;
}

.title-highlight {
    color: #22D4FD
}

.presentation {
    margin: 10%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.presentation__content {
    width: 615px;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.presentation__content__title {
    font-size: 36px;
    font-family: 'Krona One', sans-serif;
}

.presentation__content__text {
    font-size: 24px;
    font-family: 'Montserrat', sans-serif;
}

.presentation__links {
    display: flex;
    justify-content: space-between;
}

.presentation__links_link {
    background-color: #22D4FD;
    width: 280px;
    text-align: center;
    border-radius: 16px;
    font-size: 24px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    padding: 21.5px 0;
    text-decoration: none;
    color: #000000;
}
